body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background: green;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #eee;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
}